.modalContainer {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.popupModal {
  position: relative;
  top: -20px;
  width: 40%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  animation: animatetop 0.3s forwards;
  box-shadow: 0 2px 20px 0 rgb(40 44 63 / 15%);
}

.modalHead {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px dashed #bebfc5;
}
.headItem {
  margin-left: 16px;
}
.heading {
  font-size: 20px;
  margin-bottom: 8px;
}
.modalClose {
  color: #b6b7bb;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: 200px;
    opacity: 0;
  }
  to {
    top: -20px;
    opacity: 1;
  }
}

@media screen and (max-width: 950px) {
  .modalContainer {
    padding-top: 66px;
  }
  .popupModal {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .modalContainer {
    padding-top: 36px;
  }
  .popupModal {
    width: 80%;
  }
}
